<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="params">
		<fieldset
			name="params"
			label="COM_DATASHEET_DISPLAY_OPTIONS"
		>
			<field name="sections" type="checkbox" label="SECTIONS_TITLE" description="SECTIONS_DESCRIPTION" value="1" />
			<field
				name="sections_by"
				type="sql"
				label="COM_DATASHEET_ITEM_BRAND_LABEL"
				query="SELECT * FROM #__datasheet_product_data WHERE `state`='active'"
				key_field="id"
				value_field="name"
			/>		
		</fieldset>
	</fields>
</config>
