#cont-video{
    background: white;
    box-sizing: border-box;
    max-width: 100%;
}

#table-datasheet{
  overflow: hidden;
}

.nopadding {
  padding: 2px !important;
  margin: 0px !important;
}
.margin-0{
  margin: 0px !important;
}

@media screen and (max-width: 992px) {
    .mobile-hidden{
        display: none;
    }
  }

  .relations{
    padding-bottom:10px;
    padding-left:3px;
    padding-right:3px
  }

.titles{
  border-bottom: 3px solid #868383;
  border-right: 2px solid #868383;
  border-left: 2px solid #868383;
  border-top: 1px solid #868383;
  background: #f4f4f4;
  border-radius: 5px;
  padding-bottom: 3px
}

.first-title{
  border-bottom: 3px solid #868383;
  border-right: 2px solid #868383;
  border-left: 2px solid #868383;
  border-top: 1px solid #868383;
  background: #f4f4f4;
  border-radius: 0px 5px 5px 0px;
  padding-bottom: 3px
}

.custom-home{
  margin-top: 12px;
  border-radius: 5px 0px 0px 5px;
}

.bx-wrapper{
  margin-bottom: 20px !important;
}
.cont-enlace{
  overflow: hidden;
  padding: 0 !important;
  border-radius:5px !important
}

.cont-enlace .card-body{
  padding: 2px;
}

.cont-enlace .card-body .entry-highlights{
  font-size: 12px !important;
}